[Desktop Entry]
Version=1.0
Name=Bitcoin Core
Comment=Connect to the Tripi P2P Network
Exec=tripi-qt %u
Terminal=false
Type=Application
Icon=tripi128
MimeType=x-scheme-handler/tripi;
Categories=Office;Finance;
StartupWMClass=Tripi-qt
Name[en_US]=tripi-qt
