/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #a92a2d;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #a95656;
}
QPushButton:pressed {
    background: #a92a2d;
    color: white;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    /*background: rgba(87, 177, 212, 60%);*/
    background: rgba(169, 86, 86, 60%);
}
